{{!-- BCG --}}
<div class="patient-data-container">
    <table id="patient-data-table">

        {{#if bcg}}
        <tr class="patient-data-header">
            <th>Date</th>
            <th>Time</th>
            <th>Value (nmol/L)</th>
            <th>Comments</th>
        </tr>
        {{#each bcg}}
        <tr class="patient-data-row">
            {{#if this.value}}
                <td>{{formatDate this.date}}</td>
                <td>{{formatTime this.date}} </td>
                <td>{{this.value}}</td>
                {{#if (isEmptyStr this.comment)}}
                    <td> - </td>
                {{else}}
                    <td>{{this.comment}}</td>
                {{/if}}
            {{else}}
                <td>{{formatDate this.date}}</td>
                <td> - </td>
                <td> - </td>
                <td> - </td>
            {{/if}}
        </tr>
        {{/each}}
        {{/if}}

        {{#if weight}}
        <tr class="patient-data-header">
            <th>Date</th>
            <th>Time</th>
            <th>Value (kg)</th>
            <th>Comments</th>
        </tr>
        {{#each weight}}
        <tr class="patient-data-row">
            {{#if this.value}}
                <td>{{formatDate this.date}}</td>
                <td>{{formatTime this.date}} </td>
                <td>{{this.value}}</td>
                {{#if (isEmptyStr this.comment)}}
                    <td> - </td>
                {{else}}
                    <td>{{this.comment}}</td>
                {{/if}}
            {{else}}
                <td>{{formatDate this.date}}</td>
                <td> - </td>
                <td> - </td>
                <td> - </td>
            {{/if}}
        </tr>
        {{/each}}
        {{/if}}

        {{#if insulin}}
        <tr class="patient-data-header">
            <th>Date</th>
            <th>Time</th>
            <th>Value (doses)</th>
            <th>Comments</th>
        </tr>
        {{#each insulin}}
        <tr class="patient-data-row">
            {{#if this.value}}
                <td>{{formatDate this.date}}</td>
                <td>{{formatTime this.date}} </td>
                <td>{{this.value}}</td>
                {{#if (isEmptyStr this.comment)}}
                    <td> - </td>
                {{else}}
                    <td>{{this.comment}}</td>
                {{/if}}
            {{else}}
                <td>{{formatDate this.date}}</td>
                <td> - </td>
                <td> - </td>
                <td> - </td>
            {{/if}}
        </tr>
        {{/each}}
        {{/if}}

        {{#if exercise}}
        <tr class="patient-data-header">
            <th>Date</th>
            <th>Time</th>
            <th>Value (steps)</th>
            <th>Comments</th>
        </tr>
        {{#each exercise}}
        <tr class="patient-data-row">
            {{#if this.value}}
                <td>{{formatDate this.date}}</td>
                <td>{{formatTime this.date}} </td>
                <td>{{this.value}}</td>
                {{#if (isEmptyStr this.comment)}}
                    <td> - </td>
                {{else}}
                    <td>{{this.comment}}</td>
                {{/if}}
            {{else}}
                <td>{{formatDate this.date}}</td>
                <td> - </td>
                <td> - </td>
                <td> - </td>
            {{/if}}
        </tr>
        {{/each}}
        {{/if}}
    </table>
</div>