
<br>
<br>

<ul>
{{#each data}}
    <div class="clinician-message">
        <a href="/clinician/{{this.id}}">
        <div class='clinician-message-header'>
            <div class='clinician-message-header-sender'>
                <h4>{{this.patient}}</h4>
            </div> 
            <div class='clinician-message-header-time'>
                {{this.date}}
            </div>
        </div>      

        <div class='clinician-message-body'>
            {{this.type}} : {{this.comment}}
        </div>
        </a>
    </div>

{{/each}}
</ul>





