<div class="clinician-drill-overview">
    <div class="patient-info-container">
        <div class="patient-info"> 
            {{!flexbox: 3 columns with first col small, mid and last col equal width}} 
            <img src = "/images/male-profile.jpg">
            <ul>
                <li>Name: {{oneItem.first_name}} {{oneItem.last_name}}</li>
                <li>Year of Birth: {{oneItem.dob}}</li>
                <li>Join Date: {{oneItem.join_date}}</li>
            </ul>
        </div>
    </div>
    
    <div class="functions-nav-bar">
        {{!flexbox of 3 items}}
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="/#" class="nav-link">Overview</a>
            </li>
            <li class="nav-item">      
                <a href="/#" class="nav-link">Manage</a>
            </li>
            <li class="nav-item">
                <a href="/#"class="nav-link">Support Message</a>
            </li>
        </ul>
    </div>

    <div class="content">
        <div class="measurement-nav-bar">
            <ul class="measurement-menu">
                <li class="measurement-item">
                    {{!reder blood glucose data}}
                    <a href="/#" class="measurement-link">Blood Glucose</a>
                </li>
                <li class="measurement-item">   
                    {{!reder weight data}}   
                    <a href="/#" class="measurement-link">Weight</a>
                </li>
                <li class="measurement-item">
                    <a href="/#"class="measurement-link">Doses of Insulin</a>
                </li>
                <li class="measurement-item">
                    <a href="/#"class="measurement-link">Step Count</a>
                </li>
            </ul>
        </div>
        <br>
        {{!testing: displaying weight data only }}
        <div class="data">
            {{#if oneItem.measurements.weight}}
                <li>weight table</li>
                <li>minimum {{oneItem.measurements.weight.minimum}}</li>
                <li>maximum {{oneItem.measurements.weight.maximum}}</li>
                {{!List out all dates. If there is input for that date, then ...}}
                <table>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Weight (kg)</th>
                        <th>Comments</th>
                    </tr>
                </table>

                {{#each dateRange}}
                {{dateRange}}
                {{/each}}
            {{/if}}
        </div>
        <br>
        <div class="notes">
            <h3>NOTES</h3>
            {{#each note}}
                {{date}}
                {{comment}}
            {{/each}}

            <form action="/patient/record" method="post">  
                <div class="comment-input">
                    <textarea name="comment" id="comment" cols="30" rows="5" placeholder="Enter comment here"></textarea>
                </div>
                <button class="record-button">Add note</button>
            </form>
        </div>
    </div>
</div>

