<div class="clinician-table-container">
    <table class="clinician-table-styled">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Type</th>
                <th>{{measurement.name}} {{measurement.unit}}</th>
                <th>Comments</th>
            </tr>
        </thead>
        {{!-- generate every day from today back to join date; search in database: 
        PK: person/measurement/date 
        If in database, render time, data, comments
        Otherwise render Not Updated in red--}}
        <tbody>
        {{#each data_entry}}
            <tr>
            <td>
                {{date}}
            </td>
            <td>
                {{date}}
            </td>
            <td>
                <li>{{this.type}}</li>
            </td>
            <td>
                {{#if this.value == undefined}}
                <p id ="red">Not Updated</p>
                {{else}}
                <li>{{this.value}}</li>
                {{/if}}
            </td>
            <td>
                <li>{{this.comment}}</li>
            </td>
        </tbody>
    </table>
</div>
