<div class="clinician-table-container">
    <table class="clinician-table-styled">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>{{measurement.name}} {{measurement.unit}}</th>
                <th>Comments</th>
            </tr>
        </thead>
        {{!-- generate every day from today back to join date; search in database: 
        PK: person/measurement/date 
        If in database, render time, data, comments
        Otherwise render Not Updated in red--}}
        <tbody>
        {{#each data_entry}}
            <tr>
            <td>{{date}}</td>
            {{#if this.date == date}}
                <td>
                    <li>{{this.type}}</li>
                </td>
                <td>
                    <li>{{this.value}}</li>
                </td>
                <td>
                    <li>{{this.comment}}</li>
                </td>
            {{else}}
                <p id ="red">Not Updated</p>
            {{/if}}
        </tbody>
    </table>
</div>
