<ul>
    
    <br>

    {{#if oneItem.measurements.bcg}}
    <li>Input required {{oneItem.measurements.bcg.inputRequired}}</li>
    <li>minimum {{oneItem.measurements.bcg.minimum}}</li>
    <li>maximum {{oneItem.measurements.bcg.maximum}}</li>
    {{#each bcgmeasurement}}
    <table>
        <tr>
            <td>
                <li>{{this.date}}</li>
            </td>
            <td>
                <li>{{this.type}}</li>
            </td>
            <td>
                <li>{{this.value}}</li>
            </td>
            <td>
                <li>{{this.comment}}</li>
            </td>
        </tr>
    </table>
    {{/each}}
    {{/if}}

    {{#if oneItem.measurements.weight}}
    <li>weight table</li>
    <li>minimum {{oneItem.measurements.weight.minimum}}</li>
    <li>maximum {{oneItem.measurements.weight.maximum}}</li>
    {{#each weightmeasurement}}
    <table>
        <tr>
            <td>
                <li>{{this.date}}</li>
            </td>
            <td>
                <li>{{this.type}}</li>
            </td>
            <td>
                <li>{{this.value}}</li>
            </td>
            <td>
                <li>{{this.comment}}</li>
            </td>
        </tr>
    </table>
    {{/each}}
    {{/if}}

    {{#if oneItem.measurements.insulin}}
    <li>insulin table</li>
    <li>minimum {{oneItem.measurements.insulin.minimum}}</li>
    <li>maximum {{oneItem.measurements.insulin.maximum}}</li>
    {{#each insulinmeasurement}}
    <table>
        <tr>
            <td>
                <li>{{this.date}}</li>
            </td>
            <td>
                <li>{{this.type}}</li>
            </td>
            <td>
                <li>{{this.value}}</li>
            </td>
            <td>
                <li>{{this.comment}}</li>
            </td>
        </tr>
    </table>
    {{/each}}
    {{/if}}

    {{#if oneItem.measurements.exercise}}
    <li>exercise table</li>
    <li>minimum {{oneItem.measurements.exercise.minimum}}</li>
    <li>maximum {{oneItem.measurements.exercise.maximum}}</li>
    {{#each exercisemeasurement}}
    <table>
        <tr>
            <td>
                <li>{{this.date}}</li>
            </td>
            <td>
                <li>{{this.type}}</li>
            </td>
            <td>
                <li>{{this.value}}</li>
            </td>
            <td>
                <li>{{this.comment}}</li>
            </td>
        </tr>
    </table>
    {{/each}}
    {{/if}}

</ul>


