<script src="/scripts/closeFlash.js"></script>
{{!-- <script src="../scripts/loader.js"></script> --}}
<script src="/scripts/patientDataFilter.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="/scripts/patientChart.js"></script>




{{#if loggedIn}}
{{> flashSuccess}}

{{> patientDrilldown}}

{{!-- Measurement lable and thresholds --}}
<div class="page-heading-1">
    <h1>{{#if (eqBcg type)}}
        Blood Glucose Level
        {{/if}}
        {{#if (eqInsulin type)}}
        Insulin
        {{/if}}
        {{#if (eqWeight type)}}
        Weight
        {{/if}}
        {{#if (eqExercise type)}}
        Exercise
        {{/if}}
    </h1>
</div>

<div class="patient-threshold-container flex-column-center">
    <h2>Threshold</h2>
    <div class="patient-threshold flex-column-center">
        <h3>{{#if min}}{{min}}{{else}}-{{/if}} {{unit}}</h3>
        <p>to</p>
        <h3>{{#if max}}{{max}}{{else}}-{{/if}} {{unit}}</h3>
    </div>
</div>
<br>

{{> tablesCharts}}
<br>

{{else}}

{{> loggedOut}}

{{/if}}
