<script src="../scripts/closeFlash.js"></script>
{{!-- <script src="../scripts/loader.js"></script> --}}
<script src="../scripts/patientDataFilter.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="../scripts/patientChart.js"></script>


{{!-- <div class="loader-wrapper" id="loader">
    <span class="loader"><span class="loader-inner"></span></span>
</div> --}}

{{#if loggedIn}}
{{> flashSuccess}}

<input type="hidden" id="pd-dates" value="{{json groupedByDate}}" >

{{> patientDrilldown}}
<div class="notes-and-other-container">
    <section class="data-table">
        <h1 id="title">All Data</h1>
        <br>
        <div class="patient-data-filters">
            <select name="search-filter" id="search-filter">
                <option value="">Filter By</option>
                <option value="measurement">Measurement</option>
                <option value="value">Value</option>
                <option value="comment">Comment</option>
                <option value="time">Time</option>
            </select>
            <input type="text" id="pd-search-input" onkeyup="search()" placeholder="Search for measurements.">
        </div>
        <div class="patient-data-container">
            <table id="patient-data-table">
                <tr class="patient-data-header">
                    <th>Time Recorded</th>
                    <th>Measurement</th>
                    <th>Value</th>
                    <th>Comment</th>
                </tr>
                {{#each measurements}}
                <tr class="patient-data-row">
                    <td>{{formatDateTime this.date}}</td>
                    {{#if (eqBcg this.type)}}
                        <td>Blood Glucose Level</td>
                        <td>{{this.value}} nmol/L</td>
                    {{/if}}
                    {{#if (eqWeight this.type)}}
                        <td>Weight</td>
                        <td>{{this.value}} kg</td>
                    {{/if}}
                    {{#if (eqInsulin this.type)}}
                        <td>Insulin Doses</td>
                        <td>{{this.value}} dose(s)</td>
                    {{/if}}
                    {{#if (eqExercise this.type)}}
                        <td>Exercise</td>
                        <td>{{this.value}} steps</td>
                    {{/if}}
                    {{#if (isEmptyStr this.comment)}}
                        <td> - </td>
                    {{else}}
                        <td>{{this.comment}}</td>
                    {{/if}}
                </tr>
                {{/each}}
            </table>
        </div>
    </section>

{{> notes}}
</div>
<br>

{{else}}

{{> loggedOut}}

{{/if}}


    
