<script src="../scripts/closeFlash.js"></script>
{{!-- <script src="../scripts/loader.js"></script> --}}
<script src="../scripts/patientDataFilter.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const measurements = JSON.parse(document.getElementById("pd-dates").value);
        const dates = Object.keys(measurements);
        const bcg = [];
        const weight = [];
        const insulin = [];
        const exercise = [];

        for (let i = 0; i < dates.length; i++) {
            if ("bcg" in measurements[dates[i]]) {
                bcg.push(measurements[dates[i]]["bcg"]);
            }
            if ("weight" in measurements[dates[i]]) {
                weight.push(measurements[dates[i]]["weight"]);
            }
            if ("insulin" in measurements[dates[i]]) {
                insulin.push(measurements[dates[i]]["insulin"]);
            }
            if ("exercise" in measurements[dates[i]]) {
                exercise.push(measurements[dates[i]]["exercise"]);
            }
        }

        Highcharts.setOptions({
            chart: {
                style: {
                    fontFamily: 'Poppins ,sans-serif'
                }
            }
        });

        const chart = Highcharts.chart('patient-chart-container', {
            chart: {
                type: 'line'
            },
            title: {
                text: 'Blood Glucose Level'
            },
            xAxis: {
                categories: dates.map(date => {
                    return Highcharts.dateFormat('%d-%m-%Y', new Date(date).getTime());
                })
            },
            yAxis: {
                title: {
                    text: 'Blood Glucose Level (nmol/L)'
                }
            },
            series: [{
                name: 'Blood Glucose',
                data: bcg
            }],
            responsive: {  
                rules: [{  
                    condition: {  
                    maxWidth: 500  
                    },  
                    chartOptions: {  
                        legend: {  
                            enabled: false  
                        },
                        yAxis: {
                            title: {
                                enabled: false
                            }
                        } 
                    }  
                }]  
            }
        });

    });
</script>

{{!-- <div class="loader-wrapper" id="loader">
    <span class="loader"><span class="loader-inner"></span></span>
</div> --}}

{{#if loggedIn}}
{{> flashSuccess}}

<input type="hidden" id="pd-dates" value="{{json groupedByDate}}" >

<div class="page-heading-1">
    <h1>Your Data</h1>
    <hr class="divider">
    <h2>
        You can view your data, sort by measurements and time.
    </h2>
    <hr class="divider">
</div>

<section class="patient-chart-section">
    <div id="patient-chart-container"></div>
</section>


<section class="patient-data-section">
    <div class="patient-data-filters">
        <select name="search-filter" id="search-filter">
            <option value="">Filter By</option>
            <option value="measurement">Measurement</option>
            <option value="value">Value</option>
            <option value="comment">Comment</option>
            <option value="time">Time</option>
        </select>
        <input type="text" id="pd-search-input" onkeyup="search()" placeholder="Search for measurements.">
    </div>
    <div class="patient-data-container">
        <table id="patient-data-table">
            <tr class="patient-data-header">
                <th>Measurement</th>
                <th>Value</th>
                <th>Comment</th>
                <th>Time Recorded</th>
            </tr>
            {{#each measurement}}
            <tr class="patient-data-row">
                {{#if (eqBcg this.type)}}
                    <td>blood glucose level</td>
                    <td>{{this.value}} nmol/L</td>
                {{/if}}
                {{#if (eqWeight this.type)}}
                    <td>weight</td>
                    <td>{{this.value}} kg</td>
                {{/if}}
                {{#if (eqInsulin this.type)}}
                    <td>insulin doses</td>
                    <td>{{this.value}} unit(s)</td>
                {{/if}}
                {{#if (eqExercise this.type)}}
                    <td>exercise</td>
                    <td>{{this.value}} steps</td>
                {{/if}}
                {{#if (isEmptyStr this.comment)}}
                    <td> - </td>
                {{else}}
                    <td>{{this.comment}}</td>
                {{/if}}
                <td>{{this.date}}</td>
            </tr>
            {{/each}}
        </table>

    </div>
</section>

{{else}}

{{> loggedOut}}

{{/if}}


    
