<section id="patient-dashboard">
    <h1>Dashboard</h1>
    <section id="patient-dashboard-content">
        
        <div id="patient-details">
            <img src="\images\male-profile.jpg">
            <p>{{singlePatient.first_name}} {{singlePatient.last_name}}</p>
            <p>Screen name: Pat123</p>
            <p>DOB: {{dob}}</p>
            <p>Bio: I love travelling and my 3 dogs</p>
        </div>

        <div class="patient-card">
            <div class="patient-card-label">
                <h3>Messages</h3>
            </div>
            <div class="patient-card-content">
                <p>"Well done achieving your step count this week!" - Dr. Frank Huth (22/04/22)</p>
                <p>"Happy Birthday Pat!" - Dr. Frank Huth (25/04/22)</p>
                <p>"Don't forget your doses change next week :)" - Dr. Frank Huth (27/04/22)</p>
            </div>
        </div>

        <div class="patient-card">
            <div class="patient-card-label">
                <h3>Reminders</h3>
            </div>
            <div class="patient-card-content">
                <p>Today you need to:</p>
                <ul>
                    {{#if singlePatient.measurements.bcg}}
                        {{#if (isIn "bcg" notMeasured)}}
                            <li>Enter your blood glucose level</li>
                        {{else}}
                            <li class="measured">Enter your blood glucose level</li>
                        {{/if}}
                    {{/if}}
                    {{#if singlePatient.measurements.weight}}
                        {{#if (isIn "weight" notMeasured)}}
                            <li>Enter your weight</li>
                        {{else}}
                            <li class="measured">Enter your weight</li>
                        {{/if}}
                    {{/if}}
                    {{#if singlePatient.measurements.exercise}}
                        {{#if (isIn "exercise" notMeasured)}}
                            <li>Enter step count</li>
                        {{else}}
                            <li class="measured">Enter step count</li>
                        {{/if}}
                    {{/if}}
                    {{#if singlePatient.measurements.insulin}}
                        {{#if (isIn "insulin" notMeasured)}}
                            <li>Enter your insulin doses</li>
                        {{else}}
                            <li class="measured">Enter your insulin doses</li>
                        {{/if}}
                    {{/if}}
                </ul>
                <a href="/patient/record">Record measurements</a>
            </div>
        </div>

        <div class="patient-card">
            <div class="patient-card-label">
                <h3>Badges</h3>
            </div>
            <div class="patient-card-content">
                <div id="patient-badges">
                    <div class="patient-badge">
                        <img src="\images\icons\medal.svg">
                        <p>80+ engagement</p>
                    </div>
                    <div class="patient-badge">
                        <img src="\images\icons\medal.svg">
                        <p>Top 1000</p>
                    </div>
                    <div class="patient-badge">
                        <img src="\images\icons\medal.svg">
                        <p>Step Smasher</p>
                    </div>
                    <div class="patient-badge">
                        <img src="\images\icons\trophy.svg">
                        <p>Gluc Yeh!</p>
                    </div>
                    <div class="patient-badge">
                        <img src="\images\icons\trophy.svg">
                        <p>Insulegend</p>
                    </div>
                    <div class="patient-badge">
                        <img src="\images\icons\trophy.svg">
                        <p>500 km club</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="patient-card">
            <div class="patient-card-label">
                <h3>Leaderboard</h3>
            </div>
            <div class="patient-card-content">
                <table class="leaderboard">
                    <tr>
                        <th>
                            <p>Position</p>
                        </th>
                        <th>
                            <p>Name</p>
                        </th>
                        <th>
                            <p>Engagement Rate</p>
                        </th>
                    </tr>
                    <tr id="first">
                        <td>1</td>
                        <td>Sanskar</td>
                        <td>100%</td>
                    </tr>
                    <tr id="second">
                        <td>2</td>
                        <td>Anh</td>
                        <td>40%</td>
                    </tr>
                    <tr id="third">
                        <td>3</td>
                        <td>Sean</td>
                        <td>35%</td>
                    </tr>
                    <tr id="fourth">
                        <td>4</td>
                        <td>Nic</td>
                        <td>20%</td>
                    </tr>
                    <tr id="fifth">
                        <td>5</td>
                        <td>Kian</td>
                        <td>6%</td>
                    </tr>
                </table>
            </div>
        </div>

    </section>
</section>