<script src="../scripts/closeFlash.js"></script>
{{!-- <script src="../scripts/loader.js"></script> --}}
<script src="../scripts/patientDataFilter.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="../scripts/patientChart.js"></script>


{{!-- <div class="loader-wrapper" id="loader">
    <span class="loader"><span class="loader-inner"></span></span>
</div> --}}

{{#if loggedIn}}
{{> flashSuccess}}

<input type="hidden" id="pd-dates" value="{{json groupedByDate}}" >

<div class="page-heading-1">
    <div class="patient-info-container">
        <div class="patient-info"> 
            {{!flexbox: 3 columns with first col small, mid and last col equal width}} 
            <img src = "/images/male-profile.jpg">
            <ul>
                <li>Name: {{patient.first_name}} {{patient.last_name}}</li>
                <li>Year of Birth: {{patient.dob}}</li>
                <li>Join Date: {{patient.join_date}}</li>
            </ul>
        </div>
    </div>
    <hr class="divider">
</div>

<div class="functions-nav-bar">
    {{!flexbox of 3 items}}
    <ul class="nav-menu">
        <li class="nav-item">
            <a href="/#" class="nav-link">Overview</a>
        </li>
        <li>
            {{#if (isIn "bcg" required)}}
            <a href="/clinician/{{{patient._id}}}/bcg" class="nav-link">BCG</a>
            {{/if}}
        </li>
        <li>
            {{#if (isIn "weight" required)}}
            <a href="/clinician/{{{patient._id}}}/weight" class="nav-link">Weight</a>
            {{/if}}
        </li>
        <li>
            {{#if (isIn "insulin" required)}}
            <a href="/clinician/{{{patient._id}}}/insulin" class="nav-link">Insulin</a>
            {{/if}}
        </li>
        <li>
            {{#if (isIn "exercise" required)}}
            <a href="/clinician/{{{patient._id}}}/exercise" class="nav-link">Exercise</a>
            {{/if}}
        </li>
        
        <li class="nav-item">      
            <a href="/#" class="nav-link">Manage</a>
        </li>
        <li class="nav-item">
            <a href="/#"class="nav-link">Support Message</a>
        </li>
    </ul>
</div>

<section class="patient-data-section">
    <div class="patient-data-filters">
        <select name="search-filter" id="search-filter">
            <option value="">Filter By</option>
            <option value="measurement">Measurement</option>
            <option value="value">Value</option>
            <option value="comment">Comment</option>
            <option value="time">Time</option>
        </select>
        <input type="text" id="pd-search-input" onkeyup="search()" placeholder="Search for measurements.">
    </div>
    <div class="patient-data-container">
        <table id="patient-data-table">
            <tr class="patient-data-header">
                <th>Time Recorded</th>
                <th>Measurement</th>
                <th>Value</th>
                <th>Comment</th>
            </tr>
            {{#each measurements}}
            <tr class="patient-data-row">
                <td>{{formatDateTime this.date}}</td>
                {{#if (eqBcg this.type)}}
                    <td>Blood Glucose Level</td>
                    <td>{{this.value}} nmol/L</td>
                {{/if}}
                {{#if (eqWeight this.type)}}
                    <td>Weight</td>
                    <td>{{this.value}} kg</td>
                {{/if}}
                {{#if (eqInsulin this.type)}}
                    <td>Insulin Doses</td>
                    <td>{{this.value}} dose(s)</td>
                {{/if}}
                {{#if (eqExercise this.type)}}
                    <td>Exercise</td>
                    <td>{{this.value}} steps</td>
                {{/if}}
                {{#if (isEmptyStr this.comment)}}
                    <td> - </td>
                {{else}}
                    <td>{{this.comment}}</td>
                {{/if}}
            </tr>
            {{/each}}
        </table>
    </div>

    {{!-- tables for each type --}}
    {{!-- BCG --}}
    <div class="patient-data-container">
        <table id="patient-data-table">
            <tr class="patient-data-header">
                <th>Date</th>
                <th>Time</th>
                <th>Value (nmol/L)</th>
                <th>Comments</th>
            </tr>
            {{#each weight}}
            <tr class="patient-data-row">
                {{#if this.value}}
                    <td>{{formatDate this.date}}</td>
                    <td>{{formatTime this.date}} </td>
                    <td>{{this.value}}</td>
                    {{#if (isEmptyStr this.comment)}}
                        <td> - </td>
                    {{else}}
                        <td>{{this.comment}}</td>
                    {{/if}}
                {{else}}
                    <td>{{formatDate this.date}}</td>
                    <td> - </td>
                    <td> - </td>
                    <td> - </td>
                {{/if}}
            </tr>
            {{/each}}
        </table>
    </div>
</section>

<div class="notes">
    <h3>NOTES</h3>
    {{#each note}}
        {{date}}
        {{comment}}
    {{/each}}

    <form action="/patient/record" method="post">  
        <div class="comment-input">
            <textarea name="comment" id="comment" cols="30" rows="5" placeholder="Enter comment here"></textarea>
        </div>
        <button class="record-button">Add note</button>
    </form>
</div>

{{else}}

{{> loggedOut}}

{{/if}}


    
